footer{
    background-color: #0f0930;
    height: 5rem;
    color: #c8c6d5;
    width: 100%;
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}