.info{
    width: 80%;
    margin-left: 10%;
    text-align: center;
    justify-content: center;
    padding-top: 3rem;
}


#sinopse{
    text-align: justify;
}

#note{
    text-align: justify;
}

#title{
    color: black;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0%;
}

.favorito{
    background-color: pink;
    border: solid rgb(255, 168, 183) 3px;
    border-radius: 1.5rem;
    height: 2.5rem;
    width: 6rem;
    cursor: pointer;
    margin: 1rem;
}

.favorito:hover{
    background-color: rgb(240, 175, 186);
    border: solid rgb(240, 146, 162) 3px;
}

.favoritar {
    border: solid grey 3px;
    border-radius: 1.5rem;
    height: 2.5rem;
    width: 6rem;
    cursor: pointer;
    margin: 1rem;
}

.display{
    display: flex;
    justify-content: center;
}