.movie-container {
    background-color:rgb(3, 1, 19);
    min-height: 60vh;
    padding: 3rem 5rem;
}

.info{
    max-width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 2rem;
    overflow: hidden;
    color: #c8c6d5;
}

#cape{
    width: 300px;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#all-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:stretch;
    width: 100%;
}

.details{
    text-align: justify;
}

.infodetails{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

#title{
    color: #e7e5f3;
    text-align: center;
    margin: 1rem 0 0 0;
    padding: 0%;
}

.subdetails{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.favorito{
    background-color: pink;
    border: solid rgb(255, 168, 183) 3px;
    border-radius: 1.5rem;
    height: 2.5rem;
    width: 6rem;
    cursor: pointer;
    margin: 1rem;
}

.favorito:hover{
    background-color: rgb(240, 175, 186);
    border: solid rgb(240, 146, 162) 3px;
}

.favoritar {
    border: solid grey 3px;
    border-radius: 1.5rem;
    height: 2.5rem;
    width: 6rem;
    cursor: pointer;
    margin: 1rem;
}

.display{
    display: flex;
    justify-content: center;
}