.comment {
    background-color: #0f0930;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    width: 100%;
    margin: 1rem 0;
    border-radius: 1rem;
    padding: .5rem 1rem;
}

.comment-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(74, 67, 117);
    color: #e7e5f3;
    font-weight: 600;
}

.comment-content{
    text-align: justify;
    color: #c8c6d5;
}