header {
    background-color: rgb(32, 32, 32);
    height: 6rem;
    display: flex;
    padding: 1rem 1rem 0rem 1rem;
}

header img {
    height: 4rem;
}

#menu {
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

h1 {
    color: #fff;
    text-align: center;
    justify-content: center;
}
