header {
    background-color: #0f0930;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

header img {
    height: 3rem;
}

#logo {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

#menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.8rem;
}

.menu-item {
    color: #c8c6d5;
    font-size: 1.3rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    text-decoration: none;
}

.menu-item:hover {
    color: #e7e5f3;
    transition: color 0.5s ease-in-out;
}

#header-title {
    color: #fff;
    text-align: center;
    justify-content: center;
    font-family: "Road Rage", sans-serif;
    font-size: 3.5rem;
    font-weight: 200;
}