#signin-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-header{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1rem;
    gap: 1rem;
}

#login-header img{
    height: 3rem;
}