#lists-page {
    background-color: rgb(3, 1, 19);
    min-height: 60vh;
    padding: 2rem;
}

#page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#lists-title {
    color: #e7e5f3;
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: left;
}

#all-lists {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.List {
    background-color: #0f0930;
    min-height: 5rem;
    border-radius: 15px;
    padding: 0 1rem 1rem 1rem;
    color: #e7e5f3;
}

#Nome {
    height: 2rem;
    border-radius: 2rem;
    width: 20rem;
    margin: 1rem;
}

#formulario {
    justify-content: center;
    text-align: center;
}

#adiciona {
    height: 2.5rem;
    border-radius: 2rem;
    width: 6rem;
    margin: 1rem;
    cursor: pointer;
    background-color: rgb(159, 192, 255);
    border: solid rgb(94, 136, 216) 3px;
}

.infoo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 0rem;
}

.lixo {
    cursor: pointer;
}

.movie-card {
    position: relative;
    background-color: rgb(15, 9, 48);
    border-radius: 1rem;
    overflow: hidden;
    height: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}

.poster {
    width: auto;
    height: 6rem;
    display: block;
    border-radius: 5px;
}

.title-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 100;
    color: #c8c6d5;
    font-family: "BBH Bogle", sans-serif;
    text-align: center;
}

.movie-trash-div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: start;
    height: 100%;
}

.movie-trash {
    cursor: pointer;
    color: #c8c6d5;
}